@media (min-width: 992px){
    .pl-lg-7 {
        padding-left: 7rem !important;
    }
}

@media (min-width: 768px){
    .pb-md-7 {
        padding-bottom: 7rem !important;
    }
}


@media (min-width: 992px){
    .pr-lg-7 {
        padding-right: 7rem !important;
    }
}

@media (min-width: 576px){
    .padding_cuadros {
        padding-right: 150px!important;
        padding-left: 150px!important;
    }
}

@media (max-width: 576px){
    .padding_cuadros {
        padding-right: 15px!important;
        padding-left: 15px!important;
    }
}


/*  responsive text */

@media (max-width: 576px){
    .fontSR {
        font-size: 10px;
    }
}
@media (min-width: 576px){
    .fontSR {
        font-size: 13px;
    }
}
@media (min-width: 768px){
    .fontSR {
        font-size: 15px;
    }
}
@media (min-width: 992px){
    .fontSR {
        font-size: 15px;
    }
}
@media (min-width: 1200px){
    .fontSR {
        font-size: 20px;
    }
}
@media (min-width: 1400px){
    .fontSR {
        font-size: 25px;
    }
}



